<p-scrollPanel [style]="{width: '100%', height: '100%'}">
  <div class="setup">
    <form id="setup-form" *ngIf="myPoll && loaded" [formGroup]="pollForm">
      <div class="setup__field setup__field--question">
        <div class="p-field">
          <input 
            id="input-question" 
            type="text" 
            [maxLength]="maxLength" 
            pInputText 
            formControlName="question" 
            placeholder="Type a question"
            (keyup)="onUpdateQuestion()" />
        </div>
      </div>

      <ng-container formArrayName="options">
        <ng-container *ngFor="let optionForm of options.controls; let i = index">
          <div class="setup__field" [formGroup]="optionForm">
            <div class="p-inputgroup">
              <input 
                [id]="'option-'+i"
                type="text" 
                [maxLength]="maxLength" 
                pInputText 
                placeholder="Type an answer"  
                formControlName="option"
                (keyup)="onUpdateOption(i)">   
              <button 
                [id]="'button-remove-'+i"
                type="button" 
                pButton pRipple 
                icon="pi pi-times" 
                class="p-button-danger"
                [disabled]="!enableRemoveOption()"
                (click)="onRemoveOption(i)"></button>      
            </div>
          </div>
        </ng-container>
      </ng-container>

      <div class="setup__field">
        <div class="p-inputgroup">
          <input id="input-add-option" type="text" pInputText [maxLength]="maxLength" placeholder="Type an answer" formControlName="newOption" >   
          <button 
            id="button-add-option"
            type="button"
            pButton pRipple 
            class="p-button-success" 
            [disabled]="!enableAddOption()"
            (click)="onAddOption()">Add</button>      
        </div>
      </div>

    </form>
  </div>
</p-scrollPanel>