<div class="panel">
  <div subheader=" " class="panel__setup">
    <p-card class="panel__card">
      <app-setup [loaded]="loaded"></app-setup>

      <ng-template pTemplate="footer">
        <div class="panel__footerInfo">3/10 possible answers</div>
        <div class="panel__button">
          <p-button label="Reset" icon="pi pi-refresh" styleClass="p-button-danger p-button-sm"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>

  <div class="panel__vote">
    <p-card class="panel__card">
      <app-vote></app-vote>

      <ng-template pTemplate="footer">
        <div class="panel__footerInfo"></div>
        <div class="panel__button">
          <p-button label="Vote" icon="pi pi-check" styleClass="p-button-info p-button-sm"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>

  <div class="panel__chart">
    <p-card class="panel__card">
      <app-chart></app-chart>

      <ng-template pTemplate="footer">
        <div class="panel__footerInfo">Total vote : 11</div>
      </ng-template>
    </p-card>
  </div>
</div>
