:host ::ng-deep .panel__card {

  .p-card-footer {
    display: flex;
    padding: 0;
    clear: both;
  }

  .p-card-content {
    padding-top: 0;
    height: calc(100% - 40px);
    min-height: 300px;
  }

  .panel {
    &__footerInfo{
      flex-grow: 2;
      padding: 10px 0;
    }

    &__button {
      width: fit-content;
    }
  }

  @media (min-width: 768px) {
    .p-card,
    .p-card-body {
      height: 100%;
    }
  }
}

.panel {
  width: 100%;
  height: 100%;
  padding: 10px;

  &__setup,
  &__vote,
  &__chart {
    float: left;
    width: 100%;
    padding: 10px;
  }
}

@media (min-width: 768px) {
  .panel {

    &__setup,
    &__vote,
    &__chart {
      width: 33.3333%;
      height: 100%;
    }
  }
}
